pkgbase = python-conda
	pkgdesc = OS-agnostic, system-level binary package manager and ecosystem https://conda.io
	pkgver = 24.7.1
	pkgrel = 4
	url = https://github.com/conda/conda
	arch = any
	license = BSD-3-Clause
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	makedepends = python-wheel
	depends = python>=3.7
	depends = python-archspec
	depends = python-boltons
	depends = python-boto3
	depends = python-botocore
	depends = python-conda-package-handling
	depends = python-libmamba
	depends = python-pluggy>=1.0.0
	depends = python-pycosat>=0.6.3
	depends = python-requests>=2.20.1
	depends = python-ruamel-yaml>=0.11.14
	depends = python-tqdm
	provides = python-conda
	provides = python-conda-env
	options = !emptydirs
	backup = etc/conda/condarc
	source = conda-24.7.1.tar.gz::https://github.com/conda/conda/archive/24.7.1.tar.gz
	sha512sums = 8fbd8e868a9ac0a73c0d940a393ebbf25f16d1b82ca6c59691e148dbb20c7d4767794fae72cd9a84f071714065e80f8f859f629a239e75feaf43c5d570625a59

pkgname = python-conda
